<header class="sheet-header">
    <div class="header-fields">
        <aside class="image-container">
            <img src="{{document.img}}" class="document-img" data-edit="img" data-action="editImage"/>
            <a class="hover-img" data-action="showImage" data-src="{{document.img}}" data-uuid="{{document.id}}" data-name="{{document.name}}">
                <i class="fa-solid fa-image fa-fw"></i>
            </a>
        </aside>

        <div class="header-identity">
            <h1 class="document-name">
                <input name="name" type="text" value="{{document.name}}" placeholder="Name" />
            </h1>

            {{#if documentType}}
                <h2 class="document-type">{{documentType}}</h2>
            {{/if}}
        </div>
    </div>
</header>
