<div class="equipment-base">
    <section class="flexrow centered highlight-labels">

        <div class="flexcol">
            <label for="system.cost">{{ localize "fs4.equipment.fields.cost" }}</label>
            <input name="system.cost" type="number" value="{{system.cost}}" />
        </div>
        <div class="flexcol">
            <label for="system.quality">{{ localize "fs4.equipment.fields.quality" }}</label>
            <select name="system.quality">
                {{selectOptions
                    qualityOptions
                    selected=system.quality
                    valueAttr="value"
                    labelAttr="name"
                }}
            </select>
        </div>
        <div class="flexcol">
            <label for="system.agora">{{ localize "fs4.equipment.fields.agora" }}</label>
            <input name="system.agora" type="text" value="{{system.agora}}" />
        </div>
    </section>

    <section class="flexrow centered highlight-labels">
        <div class="flexcol">
            <label for="system.adjustedCost">{{ localize "fs4.equipment.fields.adjustedCost" }}</label>
            <input name="system.adjustedCost" type="number" value="{{system.adjustedCost}}" readonly />
        </div>

        <div class="flexcol">
            <label for="system.tl">{{ localize "fs4.equipment.fields.tl" }}</label>
            <input name="system.tl" type="number" value="{{system.tl}}" />
        </div>

        <div class="flexcol">
            <label for="system.techCompulsion">{{ localize "fs4.equipment.fields.techCompulsion" }}</label>
            {{> "fs4.linked-item"
                name=techCompulsion.name
                field="system.techCompulsion"
                identifier=techCompulsion.identifier
                i18nKey="fs4.equipment.noTechCompulsion"
            }}
        </div>
    </section>
</div>
