<ol class="items-list">
    {{#each items as |item id|}}
        <li class="item flexrow" data-item-id="{{item.id}}" data-item-type="{{item.type}}">
            <div class="item-name flex3 {{#if item.equippable}}{{#unless item.equipped}}deactivated{{/unless}}{{/if}}">
                <h4>
                    {{#if item.equippable}}
                        {{#if item.equipped}}
                            <a class="item-control item-unequip activated" title="{{ localize "fs4.sheets.unequip" }}">
                                <i class="fas fa-hand" color="green"></i>
                            </a>
                        {{else}}
                            <a class="item-control item-equip deactivated" title="{{ localize "fs4.sheets.equip" }}">
                                <i class="fas fa-hand" color="gray"></i>
                            </a>
                        {{/if}}
                    {{/if}}

                    <span data-tooltip="{{{item.system.description}}}" data-tooltip-direction="UP">
                        {{item.name}}
                    </span>
                </h4>
            </div>

            <div>
                {{#if (eq item.system.tl undefined)}}
                    -
                {{else}}
                    {{ localize "fs4.equipment.fields.tl" }}{{item.system.tl}}
                {{/if}}
            </div>

            <div class="item-controls flex0">
                <div class="flexrow flexnowrap">
                    <a class="item-control item-edit" title="{{ localize "fs4.sheets.edit" }}">
                        <i class="fas fa-edit"></i>
                    </a>

                    <a class="item-control item-delete" title="{{ localize "fs4.sheets.delete" }}">
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
            </div>
        </li>
    {{/each}}
</ol>
