<ol class="items-list">
    {{#each items as |item id|}}
        <li class="item flexrow">
            <div class="item-name flex3 {{#if item.equippable}}{{#unless item.equipped}}deactivated{{/unless}}{{/if}}">
                <h6 data-tooltip="{{{item.system.description}}}" data-tooltip-direction="UP">
                    {{item.name}}
                </h6>
            </div>

            <div>
                {{#if (eq item.system.tl undefined)}}
                    -
                {{else}}
                    {{ localize "fs4.equipment.fields.tl" }}{{item.system.tl}}
                {{/if}}
            </div>

            <div class="item-controls flex0">
                <div class="flexrow flexnowrap">
                    {{#if item.equippable}}
                        {{#if item.equipped}}
                            <a class="item-control item-unequip activated"
                                data-action="unequipItem"
                                data-item-id="{{item.id}}"
                                title="{{ localize "fs4.sheets.unequip" }}"
                            >
                                <i class="fas fa-hand" color="green"></i>
                            </a>
                        {{else}}
                            <a class="item-control item-equip deactivated"
                                data-action="equipItem"
                                data-item-id="{{item.id}}"
                                title="{{ localize "fs4.sheets.equip" }}"
                            >
                                <i class="fas fa-hand" color="gray"></i>
                            </a>
                        {{/if}}
                    {{/if}}

                    <a class="item-control item-edit"
                        data-action="editItem"
                        data-item-id="{{item.id}}"
                        title="{{ localize "fs4.sheets.edit" }}"
                    >
                        <i class="fas fa-edit"></i>
                    </a>

                    <a class="item-control item-delete"
                        data-action="removeItem"
                        data-item-id="{{item.id}}"
                        title="{{ localize "fs4.sheets.delete" }}"
                    >
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
            </div>
        </li>
    {{/each}}
</ol>
