<div class="form-group maneuver">
    <input class="name long-inline" name="system.{{key}}.name" type="text" value="{{value.name}}"
        placeholder="{{ localize "fs4.maneuver.fields.name" }}"/>
    <input class="goal" name="system.{{key}}.goal" type="text" value="{{value.goal}}"
        placeholder="{{ localize "fs4.maneuver.fields.goal" }}" />
    <input class="xlong-inline" name="system.{{key}}.impact" type="text" value="{{value.impact}}"
        placeholder="{{ localize "fs4.maneuver.fields.impact" }}" />
</div>
