<div class="form-group score flexrow">
    {{#if dataRoll}}
        <img class="rollable draggable"
            src="icons/svg/d20-highlight.svg"
            data-skill="{{dataRoll}}"
            data-action="roll"
            data-draggable-type="skill"
            title="{{ localize "fs4.dialog.rollSkill.buttons.roll" }}"
        />
    {{/if}}
    <label for="system.{{key}}">
        {{ label }}
    </label>

    <input name="system.{{key}}" type="text" class="enhanced-number" value="{{value}}" />

    {{#if modKey}}
        <input name="system.{{modKey}}" type="text" value="{{modValue}}"
            placeholder="{{ localize "fs4.fields.mod" }}" />
        <span class="flex0">{{formatMod mod}}</span>
    {{/if}}
</div>
