<div class="flexrow">
    <input class="long-inline" name="system.{{key}}.name" type="text" value="{{weapon.name}}"
        placeholder={{ localize "fs4.fields.name" }} />
    <input class="short" name="system.{{key}}.tl" type="number" value="{{weapon.tl}}"
        placeholder={{ localize "fs4.weapon.fields.tl" }} />
    <input class="short" name="system.{{key}}.goal" type="number" value="{{weapon.goal}}"
        placeholder={{ localize "fs4.weapon.fields.goal" }} />
    <input class="short" name="system.{{key}}.damage" type="number" value="{{weapon.damage}}"
        placeholder={{ localize "fs4.weapon.fields.damage" }} />
    <input class="short" name="system.{{key}}.str" type="number" value="{{weapon.str}}"
        placeholder={{ localize "fs4.weapon.fields.str" }} />
    <input class="range" name="system.{{key}}.range" type="text" value="{{weapon.range}}"
        placeholder={{ localize "fs4.weapon.fields.range" }} />
    <input class="short" name="system.{{key}}.rof" type="number" value="{{weapon.rof}}"
        placeholder={{ localize "fs4.weapon.fields.rof" }} />
    <input class="short" name="system.{{key}}.ammo" type="number" value="{{weapon.ammo}}"
        placeholder={{ localize "fs4.weapon.fields.ammo" }} />
    <input class="long-inline" name="system.{{key}}.features" type="text" value="{{weapon.features}}"
        placeholder={{ localize "fs4.weapon.fields.features" }} />
</div>
