<ol class="items-list">
    <li class="item-headers flexrow">
        <div>{{ localize "fs4.fields.name" }}</div>
        <div>{{ localize "fs4.weapon.fields.goalModifier" }}</div>
        <div>{{ localize "fs4.weapon.fields.damage" }}</div>
        <div>{{ localize "fs4.weapon.fields.range" }}</div>
        <div>{{ localize "fs4.weapon.fields.rof" }}</div>
        <div>{{ localize "fs4.weapon.fields.ammo" }}</div>
        <div>{{ localize "fs4.sheets.actions" }}</div>
    </li>

    {{#each weapons as |weapon id|}}
    <li class="item flexrow center-items" data-item-id="{{weapon.id}}">
        <div class="item-name flexrow center-items" title="{{weapon.features}}">
            <h6>{{weapon.name}}</h6>
        </div>

        <div class="centered">{{ weapon.adjustedGoalModifier }}</div>
        <div class="centered">{{ weapon.damage }}</div>
        <div class="centered">{{ weapon.rangeText }}</div>
        <div class="centered">{{#if weapon.melee}}-{{else}}{{ weapon.rof }}{{/if}}</div>
        <div class="centered">{{#if weapon.melee}}-{{else}}{{ weapon.ammo }}{{/if}}</div>

        <div class="item-controls">
            <div class="flexrow flexnowrap">
                {{#if weapon.equipped}}
                    <a class="item-control item-unequip activated"
                        title="{{ localize "fs4.sheets.unequip" }}"
                        data-action="unequipItem"
                        data-item-id="{{weapon.id}}"
                    >
                        <i class="fas fa-hand" color="green"></i>
                    </a>
                {{else}}
                    <a class="item-control item-equip deactivated"
                        title="{{ localize "fs4.sheets.equip" }}"
                        data-action="equipItem"
                        data-item-id="{{weapon.id}}"
                    >
                        <i class="fas fa-hand" color="gray"></i>
                    </a>
                {{/if}}

                <a class="item-control item-edit centered"
                    title="{{ localize "fs4.sheets.edit" }}"
                    data-action="editItem"
                    data-item-id="{{weapon.id}}"
                >
                    <i class="fas fa-edit"></i>
                </a>
                <a class="item-control item-delete centered"
                    title="{{ localize "fs4.sheets.delete" }}"
                    data-action="removeItem"
                    data-item-id="{{weapon.id}}"
                >
                    <i class="fas fa-trash"></i>
                </a>
            </div>
        </div>
    </li>
    {{/each}}
</ol>
