<form class="{{cssClass}} drop" autocomplete="off">
    {{> "fs4.sheet-header" document=actor documentType=actorType }}

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="stats">{{ localize "fs4.sheets.tabs.stats" }}</a>
        <a class="item" data-tab="identity">{{ localize "fs4.sheets.tabs.identity" }}</a>
        <a class="item" data-tab="equipment">{{ localize "fs4.sheets.tabs.equipment" }}</a>
        <a class="item" data-tab="notes">{{ localize "fs4.sheets.tabs.notes" }}</a>
    </nav>

    <section class="sheet-body">
        <section class="tab" data-group="primary" data-tab="stats">
            <section class="flexrow">
                <section class="flexcol flex3 skills">
                    <h3 class="flex0">{{ localize "fs4.character.fields.skills" }}</h3>

                    <section class="flexrow">
                        <section class="flexcol skills-left">
                            {{#each firstSkillGroup}}
                                {{> "fs4.score"
                                    label=this.localizedName
                                    value=this.actorValue
                                    key=this.key
                                    dataRoll=this.dataRoll
                                }}
                            {{/each}}
                        </section>

                        <section class="flexcol skills-right">
                            {{#each secondSkillGroup}}
                                {{> "fs4.score"
                                    label=this.localizedName
                                    value=this.actorValue
                                    key=this.key
                                    dataRoll=this.dataRoll
                                }}
                            {{/each}}
                        </section>
                    </section>
                </section>

                <section class="flexcol characteristics">
                    <h3 class="flex0">{{ localize "fs4.character.fields.characteristics" }}</h3>
                    <div>
                        <section class="flexcol flex0 characteristics-body">
                            {{#each characteristics.body}}
                            {{> "fs4.score"
                                label=this.localizedName
                                    value=this.actorValue
                                    key=this.key
                                }}
                            {{/each}}
                        </section>

                        <hr>

                        <section class="flexcol flex0 characteristics-mind">
                            {{#each characteristics.mind}}
                                {{> "fs4.score"
                                    label=this.localizedName
                                    value=this.actorValue
                                    key=this.key
                                }}
                            {{/each}}
                        </section>

                        <hr>

                        <section class="flexcol flex0 characteristics-spirit">
                            {{#each characteristics.spirit}}
                                {{> "fs4.score"
                                    label=this.localizedName
                                    value=this.actorValue
                                    key=this.key
                                }}
                            {{/each}}
                        </section>

                        <section class="flexcol res">
                            <h3>{{ localize "fs4.character.fields.res.resistance" }}</h3>
                            {{#each resistance}}
                                {{> "fs4.score"
                                    value=this.actorValue.value
                                    key=this.key
                                    label=this.localizedName
                                    modKey=this.modKey
                                    modValue=this.actorValue.mod
                                }}
                            {{/each}}
                        </section>
                    </div>
                </section> <!-- end of characteristics -->
            </section> <!-- end of skills and characteristics -->

            <hr>

            <section class="flexrow centered highlight-labels">
                <div class="flexcol">
                    <label for="system.psi">{{ localize "fs4.character.fields.psi" }}</label>
                    <input name="system.psi" type="number" value="{{system.psi}}" />
                </div>
                <div class="flexcol">
                    <label for="system.urge">{{ localize "fs4.character.fields.urge" }}</label>
                    <input name="system.urge" type="number" value="{{system.urge}}" />
                </div>
                <div class="flexcol">
                    <label for="system.theurgy">{{ localize "fs4.character.fields.theurgy" }}</label>
                    <input name="system.theurgy" type="number" value="{{system.theurgy}}" />
                </div>
                <div class="flexcol">
                    <label for="system.hubris">{{ localize "fs4.character.fields.hubris" }}</label>
                    <input name="system.hubris" type="number" value="{{system.hubris}}" />
                </div>
            </section>

            <hr>

            <section class="flexrow centered highlight-labels">
                <div class="form-group flex1">
                    <label for="system.vitality.value">{{ localize "fs4.character.fields.vitality" }} ({{system.vitalityRating}})</label>
                    <input class="short" name="system.vitality.value" type="number" value="{{system.vitality.value}}" />
                </div>

                <div class="form-group flex3">
                    <label class="flex5" for="system.revivals">{{ localize "fs4.character.fields.revivals" }}</label>
                    <input class="short" name="system.revivals" type="number" value="{{system.revivals}}" />
                    <span>
                        <strong>{{ localize "fs4.fields.value" }}:</strong> {{system.revivalRating}}
                    </span>
                    <span>
                        <strong>{{ localize "fs4.fields.amount" }}:</strong> {{system.revivalAmount}}
                    </span>
                </div>
            </section>

            <hr>

            <section class="flexrow centered highlight-labels">
                <div class="flexcol">
                    <label for="system.bank.vp">
                        {{ localize "fs4.character.fields.bank" }} ({{ system.bankCapacity }})
                    </label>
                    <div class="flexrow centered bank">
                        <img class="action" id="empty-cache"
                            src="icons/svg/cancel.svg"
                            title="{{ localize "fs4.character.emptyCache" }}"
                        />
                        <input name="system.bank.vp" type="number" value="{{system.bank.vp}}" />
                        <input name="system.bank.wp" type="number" value="{{system.bank.wp}}" />
                    </div>
                </div>

                <div class="form-group flex3">
                    <label class="flex5" for="system.bank.surge">{{ localize "fs4.character.fields.surge" }}</label>
                    <input class="short" name="system.bank.surge" type="number" value="{{system.bank.surge}}" />
                    <span>
                        <strong>{{ localize "fs4.fields.value" }}:</strong> {{system.surgeRating}}
                    </span>
                    <span>
                        <strong>{{ localize "fs4.fields.amount" }}:</strong> {{system.surgeAmount}}
                    </span>
                </div>
            </section>

            <section class="flexcol maneuvers">
                <h3>
                    {{ localize "fs4.character.fields.maneuvers" }}

                    <a class="item-control item-add" title="{{ localize "fs4.sheets.add" }}" data-item-type="maneuver">
                        <i class="fas fa-plus"></i>
                    </a>
                </h3>

                {{> "fs4.maneuvers"
                    maneuvers=maneuvers
                }}
            </section>
        </section> <!-- end of stats tab -->

        <section class="tab" data-group="primary" data-tab="identity">
            <section class="flexcol">
                <div class="flexrow">
                    <div class="form-fields">
                        <label for="system.level">{{ localize "fs4.character.fields.level" }}</label>
                        <input name="system.level" type="number" value="{{system.level}}"
                            placeholder="{{ localize "fs4.character.fields.level" }}" />
                    </div>

                    <div class="form-fields">
                        <label for="system.species">{{ localize "fs4.character.fields.species" }}</label>
                        {{> "fs4.linked-item"
                            name=species.name
                            identifier=species.id
                            i18nKey="fs4.character.fields.species"
                        }}
                    </div>

                    <section class="flexrow">
                        <div class="form-fields">
                            <label for="system.size">{{ localize "fs4.species.fields.size" }}</label>
                            <input name="system.size" type="number" value="{{system.size}}"
                                placeholder="{{ localize "fs4.species.fields.size" }}" />
                        </div>
                        <div class="form-fields">
                            <label for="system.speed" title="{{ localize "fs4.species.fields.speedHint" }}">{{ localize "fs4.species.fields.speed" }}</label>
                            <input name="system.speed" type="text" value="{{system.speed}}"
                                placeholder="{{ localize "fs4.species.fields.speed" }}" />
                        </div>
                    </section>
                </div>

                <div class="flexrow">
                    <div class="form-fields">
                        <label for="system.class">{{ localize "fs4.character.fields.class" }}</label>
                        {{> "fs4.linked-item"
                            name=class.name
                            identifier=class.id
                            i18nKey="fs4.character.fields.class"
                        }}
                    </div>

                    <div class="form-fields">
                        <label for="system.faction">{{ localize "fs4.character.fields.faction" }}</label>
                        {{> "fs4.linked-item"
                            name=faction.name
                            identifier=faction.id
                            i18nKey="fs4.character.fields.faction"
                        }}
                    </div>

                    <div class="form-fields">
                        <label for="system.calling">{{ localize "fs4.character.fields.calling" }}</label>
                        {{> "fs4.linked-item"
                            name=calling.name
                            identifier=calling.id
                            i18nKey="fs4.character.fields.calling"
                        }}
                    </div>
                </div>

                <div class="flexrow">
                    <div class="form-fields">
                        <label for="system.rank">{{ localize "fs4.character.fields.rank" }}</label>
                        <input name="system.rank" type="text" value="{{system.rank}}"
                            placeholder="{{ localize "fs4.character.fields.rank" }}" />
                    </div>

                    <div class="form-fields">
                        <label for="system.blessing">{{ localize "fs4.character.fields.blessing" }}</label>
                        {{> "fs4.linked-item"
                            name=blessing.name
                            identifier=blessing.id
                            i18nKey="fs4.character.fields.blessing"
                        }}
                    </div>

                    <div class="form-fields">
                        <label for="system.curse">{{ localize "fs4.character.fields.curse" }}</label>
                        {{> "fs4.linked-item"
                            name=curse.name
                            identifier=curse.id
                            i18nKey="fs4.character.fields.curse"
                        }}
                    </div>
                </div>
            </section>

            <section class="flexrow align-top">
                <section class="flexcol">
                    <h2 class="flex0">{{ localize "fs4.character.fields.capabilities" }}</h2>
                    <ol class="items-list flex1">
                        {{#each capabilities as |capability id|}}
                            <li class="item flexrow" data-item-id="{{capability.id}}">
                                <div class="item-name">
                                    <h4>{{capability.name}}</h4>
                                </div>

                                <div class="item-controls flex0">
                                    <div class="flexrow flexnowrap">
                                        <a class="item-control item-edit" title="{{ localize "fs4.sheets.edit" }}">
                                            <i class="fas fa-edit"></i>
                                        </a>

                                        <a class="item-control item-delete" title="{{ localize "fs4.sheets.delete" }}">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        {{/each}}
                    </ol>
                </section>

                <section class="flexcol">
                    <h2 class="flex0">{{ localize "fs4.character.fields.perks" }} </h2>
                    <ol class="items-list flex1">
                        {{#each perks as |perk id|}}
                            <li class="item flexrow" data-item-id="{{perk.id}}">
                                <span class="item-name" data-tooltip="{{{perk.system.benefice}}}">
                                    <h4>{{perk.name}}</h4>
                                </span>

                                <div class="item-controls flex0">
                                    <div class="flexrow flexnowrap">
                                        <a class="item-control item-edit" title="{{ localize "fs4.sheets.edit" }}">
                                            <i class="fas fa-edit"></i>
                                        </a>

                                        <a class="item-control item-delete" title="{{ localize "fs4.sheets.delete" }}">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        {{/each}}
                    </ol>
                </section>
            </section>

            <section class="flexcol">
                <h2>{{ localize "fs4.fields.description" }}</h2>
                <div class="form-group">
                    {{editor
                        description
                        engine="prosemirror"
                        button=true
                        target="system.description"
                    }}
                </div>
            </section>
        </section> <!-- end of background tab -->

        <section class="tab" data-group="primary" data-tab="equipment">
            <div class="flexrow centered highlight-labels">
                <div class="form-group">
                    <label for="system.cash">{{ localize "fs4.character.fields.cash" }}</label>
                    <input name="system.cash" type="number" value="{{system.cash}}" />
                </div>

                <div class="form-group">
                    <label for="system.techGnosis">{{ localize "fs4.character.fields.techGnosis" }}</label>
                    <input name="system.techGnosis" type="number" value="{{system.techGnosis}}" />
                </div>
            </div>

            <h3>{{ localize "fs4.character.fields.armor" }}</h3>
            <div class="flexrow  centered highlight-labels">
                <div class="flexcol">
                    <div class="form-group">
                        <label class="flex1" for="system.armor.name">{{ localize "fs4.character.fields.armor" }}</label>
                        <span>
                            {{ localize "fs4.armor.fields.res" }}: {{armor.res}}
                        </span>
                    </div>
                    <div class="flexrow">
                        {{#each armorTypes}}
                            <span
                                class="armor-type {{#if this.checked}}active{{else}}inactive{{/if}}"
                                data-type="{{this.type}}"
                                title="{{ localize (concat "fs4.armorTypes." this.type) }}"
                            >
                                {{ localize (concat "fs4.armorTypes.short." this.type) }}
                            </span>
                        {{/each}}
                    </div>
                </div>

                <div class="flexcol">
                    {{#if shield}}
                        <div class="flexrow center-items">
                            <label class="flex2">{{ localize "fs4.character.fields.eshield" }}</label>
                            <div class="flexrow center-items flex2">
                                {{#if shield.handheld}}
                                    {{ shield.name }}
                                {{else}}
                                    {{ shield.thresholds.low }} / {{ shield.thresholds.high }}
                                {{/if}}
                            </div>
                        </div>
                        {{#unless shield.handheld}}
                            <div class="flexrow center-items">
                                <label for="system.state.hits">{{ localize "fs4.eshield.hits" }}</label>
                                <div class="flexrow center-items">
                                    <input class="short shield" name="system.state.hits" type="number" value="{{shield.state.hits}}" />&nbsp;({{ shield.hits }})&nbsp;
                                    <img class="action" id="recharge-shield"
                                        src="icons/svg/shield.svg"
                                        title="{{ localize "fs4.shield.recharge" }}"
                                    />
                                </div>
                            </div>

                            <div class="flexrow  center-items">
                                <label for="system.state.burnoutRounds">{{ localize "fs4.shield.fields.burnout" }}</label>

                                <div class="flexrow center-items">
                                    <input class="short shield" name="system.state.burnoutRounds" type="number" value="{{shield.state.burnoutRounds}}" />&nbsp;({{ shield.burnout }})&nbsp;
                                    <div class="flexrow">
                                        <img class="action" id="reset-shield-burnout"
                                            src="icons/svg/shield.svg"
                                            title="{{ localize "fs4.shield.resetBurnout" }}"
                                        />
                                    </div>

                                    {{#if shield.canDistort}}
                                        <div class="flexrow">
                                            <img id="toggle-shield-distortion" class="action {{#if shield.state.distorting}}active{{/if}}"
                                                src="icons/svg/regen.svg"
                                                title="{{ localize "fs4.shield.toggleDistortion" }} (+{{ shield.distortion }})"
                                            />
                                        </div>
                                    {{/if}}
                                </div>
                            </div>
                        {{else}}
                            <div class="flexrow center-items">
                                <label>{{ localize "fs4.shield.fields.res" }}</label>
                                <span>{{ shield.res }}</span>
                                <label>{{ localize "fs4.shield.fields.damage" }}</label>
                                <span>{{ shield.damage }}</span>
                            </div>
                        {{/unless}}
                    {{/if}}
                </div>
            </div>

            <h3>{{ localize "fs4.character.fields.weapons" }}</h3>
            {{> "fs4.weapons"
                weapons=weapons
            }}

           <section class="flexcol equipment">
                <h3>
                    {{ localize "fs4.character.fields.equipment" }}

                    <a class="item-control item-add" title="{{ localize "fs4.sheets.add" }}" data-item-type="equipment">
                        <i class="fas fa-plus"></i>
                    </a>
                </h3>

                {{> "fs4.equipments"
                    items=equipment
                }}
            </section>
        </section> <!-- end of equipment tab -->

        <section class="tab" data-group="primary" data-tab="notes">
            {{editor
                notes
                engine="prosemirror"
                button=true
                target="system.notes"
            }}
        </section>
    </section>
</form>
