<div class="scrollable">
    <div class="form-group modifier-name">
        <label for="name">{{ localize "fs4.modifier.fields.name" }}</label>
        <input type="text" name="name" value="{{ modifier.name }}" />
    </div>

    <div class="form-group modifier-type">
        <label for="type">{{ localize "fs4.modifier.fields.type" }}</label>
        <select name="type" id="type-select">
            {{selectOptions
                modifierTypeOptions
                selected=modifier.type
            }}
        </select>
    </div>

    <div class="form-group modifier-value-type">
        <label for="valueType">{{ localize "fs4.modifier.fields.valueType" }}</label>
        <select name="valueType" id="value-type-select">
            {{selectOptions
                valueTypeOptions
                selected=modifier.valueType
            }}
        </select>
    </div>

    <div class="form-group modifier-value">
        <label for="value">{{ localize "fs4.modifier.fields.value" }}</label>
        <input type="text" name="value" value="{{ modifier.value }}" id="value-input" />
    </div>

    <div class="form-group modifier-attribute">
        <label for="attribute">{{ localize "fs4.modifier.fields.attribute" }}</label>
        <select name="attribute" id="attribute-select">
            {{selectOptions
                attributeTypeOptions
                selected=modifier.attribute
            }}
        </select>
    </div>

    <div class="form-group modifier-affected-attribute">
        <label for="affectedAttribute">{{ localize "fs4.modifier.fields.affectedAttribute" }}</label>
        <select name="affectedAttribute" id="affected-attribute-select" disabled>
            {{#if (eq modifier.attribute "skill")}}
                {{selectOptions skillOptions selected=modifier.affectedAttribute}}
            {{else if (eq modifier.attribute "characteristic")}}
                {{selectOptions characteristicOptions selected=modifier.affectedAttribute}}
            {{else if (eq modifier.attribute "resistance")}}
                {{selectOptions resOptions selected=modifier.affectedAttribute}}
            {{else}}
                <option value=""></option>
            {{/if}}
        </select>
    </div>

    <div class="form-group modifier-context">
        <label for="context">{{ localize "fs4.modifier.fields.context" }}</label>
        <select name="context" id="context-select">
            {{selectOptions
                contextOptions
                selected=modifier.context
            }}
        </select>
    </div>

    <div class="form-group modifier-maneuver">
        <label for="maneuverId">{{ localize "fs4.modifier.fields.maneuver" }}</label>
        <select name="maneuverId" id="maneuver-select">
            {{selectOptions
                maneuverOptions
                selected=modifier.maneuverId
            }}
        </select>
    </div>

    <div class="form-group modifier-notes">
        <label for="notes">{{ localize "fs4.modifier.fields.notes" }}</label>
        <input type="text" name="notes" value="{{ modifier.notes }}" />
    </div>

    <div class="form-group modifier-active">
        <label class="checkbox">
            <input type="checkbox" name="active" {{checked modifier.active}} />
            {{ localize "fs4.modifier.fields.active" }}
        </label>
    </div>

    <input type="hidden" name="_id" value="{{ modifier._id }}" />

    <button type="submit">
        {{ localize "fs4.sheets.saveChanges" }}
    </button>
</div>
