<section class="tab {{tabs.embeddedModifiers.cssClass}}" data-group="{{tabs.embeddedModifiers.group}}" data-tab="embeddedModifiers">
    <h2>
        {{ localize "fs4.sheets.tabs.embeddedModifiers" }}
    </h2>

    {{#if embeddedModifiers.length}}
        <section class="table">
            <header>
                <div class="table-col">{{ localize "fs4.modifier.fields.valueType" }}</div>
                <div class="table-col">{{ localize "fs4.modifier.fields.value" }}</div>
                <div class="table-col">{{ localize "fs4.modifier.fields.attribute" }}</div>
                <div class="table-col">{{ localize "fs4.modifier.fields.affectedAttribute" }}</div>
                <div class="table-col">{{ localize "fs4.modifier.fields.parent" }}</div>
                <div class="table-col"></div>
            </header>
            <tbody>
                {{#each embeddedModifiers}}
                    <div class="table-row">
                        <div class="table-col" title="{{this.notes}}">{{ localize (concat "fs4.modifier.valueTypes." this.valueType) }}</div>
                        <div class="table-col">{{#if (eq this.value "")}}-{{else}}{{ this.value }}{{/if}}</div>
                        <div class="table-col">{{ localize (concat "fs4.modifier.attributeTypes." this.attribute) }}</div>
                        <div class="table-col">{{ localize (concat this.affectedAttributeI18nPrefix this.affectedAttribute) }}</div>
                        <div class="table-col truncate" title="{{this.parent.name}}">{{ this.parent.name }}</div>
                        <div class="table-col flex0">
                            <label class="checkbox">
                                <input
                                    type="checkbox"
                                    name="active"
                                    {{checked this.active}}
                                    data-action="toggleModifierActive"
                                    data-modifier-id="{{this._id}}"
                                    data-parent-id="{{this.parent.id}}"
                                />
                            </label>
                        </div>
                    </div>
                {{/each}}
            </tbody>
        </section>
    {{else}}
        <p>No modifiers available.</p>
    {{/if}}
</section>
