<section class="tab {{tabs.modifiers.cssClass}}" data-group="{{tabs.modifiers.group}}" data-tab="modifiers">
    <h2>
        Modifiers
        <a class="item-control item-edit" data-action="addModifier" title="{{ localize "fs4.sheets.add" }}">
            <i class="fas fa-plus"></i>
        </a>
    </h2>

    {{#if system.modifiers.length}}
        <section class="table">
            <header>
                <div class="table-col">{{ localize "fs4.modifier.fields.valueType" }}</div>
                <div class="table-col">{{ localize "fs4.modifier.fields.value" }}</div>
                <div class="table-col">{{ localize "fs4.modifier.fields.attribute" }}</div>
                <div class="table-col">{{ localize "fs4.modifier.fields.affectedAttribute" }}</div>
                <div class="table-col">{{ localize "fs4.sheets.actions" }}</div>
            </header>
            <tbody>
                {{#each system.modifiers}}
                    <div class="table-row">
                        <div class="table-col">{{ localize (concat "fs4.modifier.valueTypes." this.valueType) }}</div>
                        <div class="table-col">{{#if (eq this.value "")}}-{{else}}{{ this.value }}{{/if}}</div>
                        <div class="table-col">{{ localize (concat "fs4.modifier.attributeTypes." this.attribute) }}</div>
                        <div class="table-col">{{ localize (concat this.affectedAttributeI18nPrefix this.affectedAttribute) }}</div>
                        <div class="table-col flex0">
                            <a class="item-control item-edit"
                                data-action="editModifier"
                                data-modifier-id="{{this._id}}"
                                title="{{ localize "fs4.sheets.edit" }}"
                            >
                                <i class="fas fa-edit"></i>
                            </a>

                            <a class="item-control item-delete"
                                data-action="deleteModifier"
                                data-modifier-id="{{this._id}}"
                                title="{{ localize "fs4.sheets.delete" }}"
                            >
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </div>
                {{/each}}
            </tbody>
        </section>
    {{else}}
        <p>No modifiers available.</p>
    {{/if}}
</section>
