<div class="scrollable tab-main">
    <div class="form-group">
        <section class="flexrow centered highlight-labels">
            <div class="flexcol flex2">
                <label for="system.capability">{{ localize "fs4.armor.fields.capability" }}</label>
                {{> "fs4.linked-item"
                    name=capability.name
                    field="system.capability"
                    identifier=capability.identifier
                    i18nKey="fs4.armor.noCapabilityRequirement"
                }}
            </div>
            <div class="flexcol">
                <label for="system.res">{{ localize "fs4.armor.fields.res" }}</label>
                <input name="system.res" type="number" value="{{system.res}}" />
            </div>

            <div class="flexcol">
                <label for="system.dexModifier">{{ localize "fs4.armor.fields.dexModifier" }}</label>
                <input name="system.dexModifier" type="number" value="{{system.dexModifier}}" />
            </div>

            <div class="flexcol">
                <label for="system.vigorModifier">{{ localize "fs4.armor.fields.vigorModifier" }}</label>
                <input name="system.vigorModifier" type="number" value="{{system.vigorModifier}}" />
            </div>
        </section>
    </div>

    <div class="form-group">
        <section class="flexrow">
            <select name="system.eshieldCompatibility" title="{{ localize "fs4.armor.fields.eshieldCompatibility" }}">
                {{selectOptions
                    eshieldTypes
                    selected=system.eshieldCompatibility
                    valueAttr="value"
                    labelAttr="name"
                }}
            </select>

            {{#each armorTypes}}
                <span
                    class="armor-type {{#if this.checked}}active{{else}}inactive{{/if}}"
                    data-type="{{this.type}}"
                    data-action="toggleArmorType"
                    title="{{this.richName}}"
                >
                    {{this.name}}
                </span>
            {{/each}}
        </section>
    </div>

    <div class="form-group">
        <section class="flexcol">
            <h2 class="flex0">{{ localize "fs4.armor.fields.features" }}</h2>
            {{> "fs4.linked-item-collection" collection=features collectionName="features" withDescription=true}}
        </section>
    </div>

    {{> "fs4.description" description=description}}
</div>
