<form class="{{cssClass}} drop" autocomplete="off">
    {{> "fs4.item-header" item=item itemType=itemType }}

    <div class="form-group">
        <div class="form-fields">
            <em>
                {{ localize "fs4.itemTypes.class" }} :
                {{#if isOpen}}
                    {{class}}
                {{else}}
                    {{editor
                        class
                        engine="prosemirror"
                        editable=false
                    }}
                {{/if}}
            </em>
        </div>
    </div>

    <div class="form-group">
        <div class="form-fields">
            {{editor
                description
                engine="prosemirror"
                target="system.description"
                button=true
            }}
        </div>
    </div>

    <h2>{{ localize "fs4.character.fields.characteristics" }}</h2>
    <div class="form-group">
        <div class="form-fields">
            {{#if (eq characteristics "") }}
                <em>{{ localize "fs4.callings.specialSeeDescription" }}</em>
            {{else}}
                <ul>
                    {{#each characteristics}}
                        <li>{{this}}</li>
                    {{/each}}
                </ul>
            {{/if}}
        </div>
    </div>

    <h2>{{ localize "fs4.character.fields.skills" }}</h2>
    <div class="form-group">
        <div class="form-fields">
            {{#if (eq skills "") }}
                <em>{{ localize "fs4.callings.specialSeeDescription" }}</em>
            {{else}}
                <ul>
                    {{#each skills}}
                        <li>{{this}}</li>
                    {{/each}}
                </ul>
            {{/if}}
        </div>
    </div>

    <h2>{{ localize "fs4.character.fields.capabilities" }}</h2>
    <div class="form-group">
        <div class="form-fields">
            <ul>
                {{#each system.capabilities}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>
    </div>

    <h2>{{ localize "fs4.character.fields.perk" }}</h2>
    <div class="form group">
        <div class="form-fields">
            {{editor
                perk
                engine="prosemirror"
                target="system.perk"
                button=true
            }}
        </div>
    </div>

    <h2>{{ localize "fs4.callings.perks" }}</h2>
    <div class="form-group">
        <div class="form-fields">
            {{editor
                perks
                engine="prosemirror"
                editable=false
            }}
        </div>
    </div>

    <h2>{{ localize "fs4.character.fields.equipment" }}</h2>
    <div class="form-group">
        <div class="form-fields">
            {{editor
                equipment
                engine="prosemirror"
                target="system.equipment"
                button=true
            }}
        </div>
    </div>

    <h2>{{ localize "fs4.callings.patrons" }}</h2>
    <div class="form group">
        <div class="form-fields">
            {{editor
                patrons
                engine="prosemirror"
                target="system.patrons"
                button=true
            }}
        </div>
    </div>
</form>