<form class="{{cssClass}} drop" autocomplete="off">
    {{> "fs4.sheet-header" document=item documentType=itemType }}

    <section class="flexrow">
        <label for="system.open">{{ localize "fs4.calling.fields.open" }}</label>
        <input name="system.open" type="checkbox" {{checked system.open}} />
    </section>

    {{#if (eq system.open false)}}
    <section class="flexrow">
        <label for="system.class">{{ localize "fs4.calling.fields.class" }}</label>
        {{> "fs4.linked-item"
            name=class.name
            identifier=class.identifier
            i18nKey="fs4.calling.fields.class"
        }}
    </section>
    {{/if}}

    <div class="form-group">
        <div class="form-fields">
            {{editor
                description
                engine="prosemirror"
                target="system.description"
                button=true
            }}
        </div>
    </div>

    <h2>{{ localize "fs4.calling.fields.characteristics" }}</h2>
    <div class="form-group">
        <div class="form-fields">
            {{#if (eq characteristics "") }}
                <em>{{ localize "fs4.calling.specialSeeDescription" }}</em>
            {{else}}
                <ul>
                    {{#each characteristics}}
                        <li>{{this}}</li>
                    {{/each}}
                </ul>
            {{/if}}
        </div>
    </div>

    <h2>{{ localize "fs4.calling.fields.skills" }}</h2>
    <div class="form-group">
        <div class="form-fields">
            {{#if (eq skills "") }}
                <em>{{ localize "fs4.calling.specialSeeDescription" }}</em>
            {{else}}
                <ul>
                    {{#each skills}}
                        <li>{{this}}</li>
                    {{/each}}
                </ul>
            {{/if}}
        </div>
    </div>

    <h2>{{ localize "fs4.calling.fields.capabilities" }}</h2>
    <div class="form-group">
        <div class="form-fields">
            <ul>
                {{#each system.capabilities}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>
    </div>

    <h2>{{ localize "fs4.calling.fields.perk" }}</h2>
    <div class="form group">
        <div class="form-fields">
            {{editor
                perk
                engine="prosemirror"
                target="system.perk"
                button=true
            }}
        </div>
    </div>

    <div class="form-group">
        <section class="flexcol">
            <h2 class="flex0">{{ localize "fs4.calling.fields.perks" }}</h2>
            {{> "fs4.linked-item-collection" collection=perks collectionName="perks" withDescription=true }}
        </section>
    </div>

    <h2>{{ localize "fs4.calling.fields.equipment" }}</h2>
    <div class="form-group">
        <div class="form-fields">
            {{editor
                equipment
                engine="prosemirror"
                target="system.equipment"
                button=true
            }}
        </div>
    </div>

    <h2>{{ localize "fs4.calling.fields.patrons" }}</h2>
    <div class="form group">
        <div class="form-fields">
            {{editor
                patrons
                engine="prosemirror"
                target="system.patrons"
                button=true
            }}
        </div>
    </div>
</form>
