<div class="scrollable">
    <section class="flexrow">
        <label for="system.open">{{ localize "fs4.calling.fields.open" }}</label>
        <input name="system.open" type="checkbox" {{checked system.open}} />
    </section>

    {{#if (eq system.open false)}}
    <section class="flexrow">
        <label for="system.class">{{ localize "fs4.calling.fields.class" }}</label>
        {{> "fs4.linked-item"
            name=class.name
            field="system.class"
            identifier=class.identifier
            i18nKey="fs4.calling.fields.class"
        }}
    </section>
    {{/if}}

    <h2>{{ localize "fs4.calling.fields.characteristics" }}</h2>
    <div class="form-group">
        <div class="form-fields">
            {{#if (eq characteristics "") }}
                <em>{{ localize "fs4.calling.specialSeeDescription" }}</em>
            {{else}}
                <ul>
                    {{#each characteristics}}
                        <li>{{this}}</li>
                    {{/each}}
                </ul>
            {{/if}}
        </div>
    </div>

    <h2>{{ localize "fs4.calling.fields.skills" }}</h2>
    <div class="form-group">
        <div class="form-fields">
            {{#if (eq skills "") }}
                <em>{{ localize "fs4.calling.specialSeeDescription" }}</em>
            {{else}}
                <ul>
                    {{#each skills}}
                        <li>{{this}}</li>
                    {{/each}}
                </ul>
            {{/if}}
        </div>
    </div>

    <h2>{{ localize "fs4.calling.fields.capabilities" }}</h2>
    <div class="form-group">
        <div class="form-fields">
            <ul>
                {{#each system.capabilities}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>
    </div>

    <h2>{{ localize "fs4.calling.fields.perk" }}</h2>
    <div class="form group">
        <div class="form-fields">
            {{> "fs4.editor"
                name="system.perk"
                value=perk
            }}
        </div>
    </div>

    <div class="form-group">
        <section class="flexcol">
            <h2 class="flex0">{{ localize "fs4.calling.fields.perks" }}</h2>
            {{> "fs4.linked-item-collection" collection=perks collectionName="perks" withDescription=true }}
        </section>
    </div>

    <h2>{{ localize "fs4.calling.fields.equipment" }}</h2>
    <div class="form-group">
        <div class="form-fields">
            {{> "fs4.editor"
                name="system.equipment"
                value=equipment
            }}
        </div>
    </div>

    <h2>{{ localize "fs4.calling.fields.patrons" }}</h2>
    <div class="form group">
        <div class="form-fields">
            {{> "fs4.editor"
                name="system.patrons"
                value=patrons
            }}
        </div>
    </div>
</div>
