<form class="{{cssClass}}" autocomplete="off">
    {{> "fs4.sheet-header" document=item documentType=itemType }}

    <div class="form-group">
        <div class="form-fields">
            <select name="system.type">
                {{selectOptions
                    types
                    selected=system.type
                    nameAttr="value"
                    labelAttr="name"
                }}
            </select>
            <select name="system.category">
                {{selectOptions
                    categories
                    selected=system.category
                    nameAttr="value"
                    labelAttr="name"
                }}
            </select>
        </div>
    </div>

    {{#if isReserved}}
        <div class="form-group">
            <div class="form-fields">
                <h2>{{ localize "fs4.capability.reserved" }}</h2>
                <ul>
                    {{#each system.reserved}}
                        <li>{{this}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
    {{/if}}

    <div class="form group">
        <div class="form-fields">
            {{editor
                description
                engine="prosemirror"
                target="system.description"
                button=true
            }}
        </div>
    </div>
</form>
