<div class="scrollable tab-main">
    {{> "fs4.description" description=description }}

    <h2>{{ localize "fs4.character.fields.characteristics" }}</h2>
    <div class="form-group">
        <div class="form-fields">
            <ul>
                {{#if specialCharacteristics}}
                    <li>{{ localize "fs4.class.specialSeeDescription" }}</li>
                {{else}}
                    {{#each characteristics}}
                        <li>{{this}}</li>
                    {{/each}}
                {{/if}}
            </ul>
        </div>
    </div>

    <h2>{{ localize "fs4.character.fields.skills" }}</h2>
    <div class="form-group">
        <div class="form-fields">
            <ul>
                {{#if specialSkills}}
                    <li>{{ localize "fs4.class.specialSeeDescription" }}</li>
                {{else}}
                    {{#each skills}}
                        <li>{{this}}</li>
                    {{/each}}
                {{/if}}
            </ul>
        </div>
    </div>

    <h2>{{ localize "fs4.character.fields.capabilities" }}</h2>
    <div class="form-group">
        <div class="form-fields">
            <ul>
                {{#each system.capabilities}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>
    </div>

    <h2>{{ localize "fs4.character.fields.perk" }}</h2>
    <div class="form group">
        <div class="form-fields">
            {{> "fs4.editor"
                name="system.perk"
                value=perk
            }}
        </div>
    </div>

    <h2>{{ localize "fs4.class.fields.perks" }}</h2>
    <div class="form-group">
        <div class="form-fields">
            {{> "fs4.editor"
                name="system.perks"
                value=perks
            }}
        </div>
    </div>

    <h2>{{ localize "fs4.class.fields.factions" }}</h2>
    <div class="form-group">
        <div class="form-fields">
            {{> "fs4.editor"
                name="system.factions"
                value=factions
            }}
        </div>
    </div>

    <h2>{{ localize "fs4.class.fields.callings" }}</h2>
    <div class="form-group">
        <div class="form-fields">
            {{> "fs4.editor"
                name="system.callings"
                value=callings
            }}
        </div>
    </div>
</div>
