<form class="{{cssClass}}" autocomplete="off">
    {{> "fs4.sheet-header" document=item documentType=itemType }}

    <div class="form group">
        <div class="form-fields">
            {{editor
                description
                engine="prosemirror"
                target="system.description"
                button=true
            }}
        </div>
    </div>

    <h2>{{ localize "fs4.character.fields.characteristics" }}</h2>
    <div class="form-group">
        <div class="form-fields">
            <ul>
                {{#if specialCharacteristics}}
                    <li>{{ localize "fs4.class.specialSeeDescription" }}</li>
                {{else}}
                    {{#each characteristics}}
                        <li>{{this}}</li>
                    {{/each}}
                {{/if}}
            </ul>
        </div>
    </div>

    <h2>{{ localize "fs4.character.fields.skills" }}</h2>
    <div class="form-group">
        <div class="form-fields">
            <ul>
                {{#if specialSkills}}
                    <li>{{ localize "fs4.class.specialSeeDescription" }}</li>
                {{else}}
                    {{#each skills}}
                        <li>{{this}}</li>
                    {{/each}}
                {{/if}}
            </ul>
        </div>
    </div>

    <h2>{{ localize "fs4.character.fields.capabilities" }}</h2>
    <div class="form-group">
        <div class="form-fields">
            <ul>
                {{#each system.capabilities}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>
    </div>

    <h2>{{ localize "fs4.character.fields.perk" }}</h2>
    <div class="form group">
        <div class="form-fields">
            {{editor
                perk
                engine="prosemirror"
                target="system.perk"
                button=true
            }}
        </div>
    </div>

    <h2>{{ localize "fs4.class.fields.perks" }}</h2>
    <div class="form-group">
        <div class="form-fields">
            {{editor
                perks
                engine="prosemirror"
                editable=false
            }}
        </div>
    </div>

    <h2>{{ localize "fs4.class.fields.factions" }}</h2>
    <div class="form-group">
        <div class="form-fields">
            {{editor
                factions
                engine="prosemirror"
                editable=false
            }}
        </div>
    </div>

    <h2>{{ localize "fs4.class.fields.callings" }}</h2>
    <div class="form-group">
        <div class="form-fields">
            {{editor
                callings
                engine="prosemirror"
                editable=false
            }}
        </div>
    </div>
</form>
