<form class="{{cssClass}}" autocomplete="off">
    {{> "fs4.item-header" item=item itemType=itemType }}

    <div class="form group">
        <div class="form-fields">
            {{editor
                description
                engine="prosemirror"
                target="system.description"
                button=true
            }}
        </div>
    </div>

    <h2>{{ localize "fs4.character.characteristics" }}</h2>
    <div class="form-group">
        <div class="form-fields">
            <ul>
                {{#if specialCharacteristics}}
                    <li>{{ localize "fs4.classes.specialSeeDescription" }}</li>
                {{else}}
                    {{#each characteristics}}
                        <li>{{this}}</li>
                    {{/each}}
                {{/if}}
            </ul>
        </div>
    </div>

    <h2>{{ localize "fs4.character.skills" }}</h2>
    <div class="form-group">
        <div class="form-fields">
            <ul>
                {{#if specialSkills}}
                    <li>{{ localize "fs4.classes.specialSeeDescription" }}</li>
                {{else}}
                    {{#each skills}}
                        <li>{{this}}</li>
                    {{/each}}
                {{/if}}
            </ul>
        </div>
    </div>

    <h2>{{ localize "fs4.character.capabilities" }}</h2>
    <div class="form-group">
        <div class="form-fields">
            <ul>
                {{#each system.capabilities}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>
    </div>

    <h2>{{ localize "fs4.character.perk" }}</h2>
    <div class="form group">
        <div class="form-fields">
            {{editor
                perk
                engine="prosemirror"
                target="system.perk"
                button=true
            }}
        </div>
    </div>

    <h2>{{ localize "fs4.character.perks" }}</h2>
    <div class="form-group">
        <div class="form-fields">
            <ul>
                {{#each system.perks}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>
    </div>
</form>