<form class="{{cssClass}}" autocomplete="off">
    {{> "fs4.sheet-header" document=item documentType=itemType }}

    <div class="span">
        <em>{{ localize "TYPES.Item.class" }} :</em>
        {{#if system.class}}
            {{ localize (concat "fs4.class." system.class.system.id) }}
        {{else}}
            {{ localize "fs4.class.unknown" }}
        {{/if}}
    </div>

    <div class="form group">
        <div class="form-fields">
            {{editor
                description
                engine="prosemirror"
                target="system.description"
                button=true
            }}
        </div>
    </div>

    <h2>{{ localize "fs4.character.fields.characteristics" }}</h2>
    <div class="form-group">
        <div class="form-fields">
            <ul>
                {{#each characteristics}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>
    </div>

    <h2>{{ localize "fs4.character.fields.skills" }}</h2>
    <div class="form-group">
        <div class="form-fields">
            <ul>
                {{#each skills}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>
    </div>

    <h2>{{ localize "fs4.character.fields.capabilities" }}</h2>
    <div class="form-group">
        <div class="form-fields">
            <ul>
                {{#each system.capabilities}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>
    </div>

    <h2>{{ localize "fs4.character.fields.perk" }}</h2>
    <div class="form group">
        <div class="form-fields">
            {{editor
                perk
                engine="prosemirror"
                target="system.perk"
                button=true
            }}
        </div>
    </div>

    <h2>{{ localize "fs4.character.fields.equipment" }}</h2>
    <div class="form group">
        <div class="form-fields">
            {{editor
                equipment
                engine="prosemirror"
                target="system.equipment"
                button=true
            }}
        </div>
    </div>

    <h2>{{ localize "fs4.faction.fields.blessing" }}</h2>
    <div class="form group">
        <div class="form-fields">
            {{editor
                blessing
                engine="prosemirror"
                target="system.blessing"
                button=true
            }}
        </div>
    </div>

    <h2>{{ localize "fs4.faction.fields.curse" }}</h2>
    <div class="form group">
        <div class="form-fields">
            {{editor
                curse
                engine="prosemirror"
                target="system.curse"
                button=true
            }}
        </div>
    </div>
</form>
