<form class="{{cssClass}}" autocomplete="off">
    {{> "fs4.item-header" item=item itemType=itemType }}

    <div class="form group">
        <div class="form-fields">
            {{editor
                description
                engine="prosemirror"
                target="system.description"
                button=true
            }}
        </div>
    </div>

    <h2>{{ localize "fs4.character.characteristics" }}</h2>
    <div class="form-group">
        <div class="form-fields">
            <ul>
                {{#each characteristics}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>
    </div>

    <h2>{{ localize "fs4.character.skills" }}</h2>
    <div class="form-group">
        <div class="form-fields">
            <ul>
                {{#each skills}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>
    </div>

    <h2>{{ localize "fs4.character.capabilities" }}</h2>
    <div class="form-group">
        <div class="form-fields">
            <ul>
                {{#each system.capabilities}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>
    </div>

    <h2>{{ localize "fs4.character.perk" }}</h2>
    <div class="form group">
        <div class="form-fields">
            {{editor
                perk
                engine="prosemirror"
                target="system.perk"
                button=true
            }}
        </div>
    </div>

    <h2>{{ localize "fs4.character.equipment" }}</h2>
    <div class="form group">
        <div class="form-fields">
            {{editor
                equipment
                engine="prosemirror"
                target="system.equipment"
                button=true
            }}
        </div>
    </div>

    <h2>{{ localize "fs4.factions.blessing" }}</h2>
    <div class="form group">
        <div class="form-fields">
            {{editor
                blessing
                engine="prosemirror"
                target="system.blessing"
                button=true
            }}
        </div>
    </div>

    <h2>{{ localize "fs4.factions.curse" }}</h2>
    <div class="form group">
        <div class="form-fields">
            {{editor
                curse
                engine="prosemirror"
                target="system.curse"
                button=true
            }}
        </div>
    </div>
</form>