<header class="sheet-header">
    <div class="header-fields">
        <aside class="image-container">
            <img src="{{document.img}}" class="document-img item-img" data-edit="img" data-action="editImage"/>
            <a class="hover-img" data-action="showImage" data-src="{{document.img}}" data-uuid="{{document.id}}" data-name="{{document.name}}">
                <i class="fa-solid fa-image fa-fw"></i>
            </a>
        </aside>

        <div class="header-identity">
            <h1 class="document-name">
                <input name="name" type="text" value="{{document.name}}" placeholder="Name" />
            </h1>

            <section class="document-information flexrow centered">
                <h2 class="document-type">
                    {{localize (concat "TYPES.Item." document.type)}}
                </h2>

                {{#if isGm}}
                    <section class="identifier-edition">
                        <input type="text" name="system.id" value="{{system.id}}" placeholder="ID">
                    </section>
                {{/if}}
            </section>

            {{#if isEquipment}}
                {{> "fs4.equipment-base" document=document }}
            {{/if}}
        </div>
    </div>
</header>
