<div class="scrollable">
    <div class="form-group">
        <div class="form-fields">
            <select name="system.skill">
                {{selectOptions
                    skills
                    selected=system.skill
                    valueAttr="value"
                    labelAttr="name"
                }}
            </select>

            <select name="system.characteristic">
                {{selectOptions
                    characteristics
                    selected=system.characteristic
                    valueAttr="value"
                    labelAttr="name"
                }}
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="form-fields">
            <select name="system.type">
                {{selectOptions
                    typeOptions
                    selected=system.type
                    valueAttr="value"
                    labelAttr="name"
                }}
            </select>

            <select name="system.addWeaponToRoll">
                {{selectOptions
                    addToRollOptions
                    selected=system.addWeaponToRoll
                    valueAttr="value"
                    labelAttr="name"
                }}
            </select>
        </div>
    </div>

    <h2>{{ localize "fs4.maneuver.fields.time" }}</h2>
    <div class="form-group">
        <div class="form-fields">
            {{> "fs4.editor"
                value=time
                name="system.time"
            }}
        </div>
    </div>

    <h2>{{ localize "fs4.maneuver.fields.capability" }}</h2>
    <div class="form-group">
        <div class="form-fields">
            {{> "fs4.editor"
                value=capability
                name="system.capability"
            }}
        </div>
    </div>

    <h2>{{ localize "fs4.maneuver.fields.resistance" }}</h2>
    <div class="form-group">
        <div class="form-fields">
            {{> "fs4.editor"
                value=resistance
                name="system.resistance"
            }}
        </div>
    </div>

    <h2>{{ localize "fs4.maneuver.fields.impact" }}</h2>
    <div class="form-group">
        <div class="form-fields">
            {{> "fs4.editor"
                value=impact
                name="system.impact"
            }}
        </div>
    </div>

    {{> "fs4.description" description=description }}
</div>
