<form class="{{cssClass}}" autocomplete="off">
    {{> "fs4.sheet-header" document=item documentType=itemType }}

    <div class="form-group">
        <div class="form-fields">
            <select name="system.sourceType">
                {{#select system.sourceType}}
                    {{#each sourceTypes}}
                        <option value="{{this}}">{{ localize (concat "fs4.perks.sourceTypes." this) }}</option>
                    {{/each}}
                {{/select}}
            </select>
            <select name="system.type">
                {{#select system.type}}
                    {{#each types}}
                        <option value="{{this}}">{{ localize (concat "fs4.perks.types." this) }}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>
    </div>

    <h2>{{ localize "fs4.perks.fields.preconditions" }}</h2>
    <div class="form-group">
        <div class="form-fields">
            {{editor
                preconditions
                engine="prosemirror"
                editable=false
            }}
        </div>
    </div>

    {{#if system.tl}}
        <h2>{{ localize "fs4.perks.fields.cyberdevice" }}</h2>
    {{/if}}
    <div class="form-group">
        <div class="form-fields">
            {{#if system.techCompulsion}}
                <span>
                    <em>{{ localize "TYPES.Item.techCompulsion" }}</em>
                    <input type="text" name="system.techCompulsion" value="{{system.techCompulsion}}"
                        placeholder="{{ localize " TYPES.Item.techCompulsion" }}" />
                </span>
            {{/if}}

            {{#if system.tl}}
                <span>
                    <em>{{ localize "fs4.perks.fields.TL"}}</em>
                    <input type="number" name="system.tl" value="{{system.tl}}" placeholder="{{ localize "
                        fs4.perks.fields.TL"}}" />
                </span>
            {{/if}}
        </div>
    </div>

    <h2>{{ localize "fs4.fields.description" }}</h2>
    <div class="form-group">
        <div class="form-fields">
            {{editor
                description
                engine="prosemirror"
                target="system.description"
                button=true
            }}
        </div>
    </div>

    <hr />

    <h2>{{ localize "fs4.perks.fields.benefice" }}</h2>
    <div class="form-group">
        <div class="form-fields">
            {{editor
                benefice
                engine="prosemirror"
                target="system.benefice"
                button=true
            }}
        </div>
    </div>
</form>
